<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/intelcpu/0/load/2/plot" value="false" />
    <add key="/intelcpu/0/load/3/plot" value="false" />
    <add key="/intelcpu/0/load/4/plot" value="false" />
    <add key="/intelcpu/0/load/5/plot" value="false" />
    <add key="/intelcpu/0/load/6/plot" value="false" />
    <add key="/intelcpu/0/load/7/plot" value="false" />
    <add key="/intelcpu/0/load/8/plot" value="false" />
    <add key="/intelcpu/0/load/9/plot" value="false" />
    <add key="/intelcpu/0/load/10/plot" value="false" />
    <add key="/intelcpu/0/load/11/plot" value="false" />
    <add key="/intelcpu/0/load/12/plot" value="false" />
    <add key="/intelcpu/0/load/13/plot" value="false" />
    <add key="/intelcpu/0/load/0/plot" value="false" />
    <add key="/intelcpu/0/load/1/plot" value="false" />
    <add key="/intelcpu/0/temperature/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/1/plot" value="false" />
    <add key="/intelcpu/0/temperature/2/plot" value="false" />
    <add key="/intelcpu/0/temperature/3/plot" value="false" />
    <add key="/intelcpu/0/temperature/4/plot" value="false" />
    <add key="/intelcpu/0/temperature/5/plot" value="false" />
    <add key="/intelcpu/0/temperature/6/plot" value="false" />
    <add key="/intelcpu/0/temperature/7/plot" value="false" />
    <add key="/intelcpu/0/temperature/8/plot" value="false" />
    <add key="/intelcpu/0/temperature/9/plot" value="false" />
    <add key="/intelcpu/0/temperature/10/plot" value="false" />
    <add key="/intelcpu/0/temperature/11/plot" value="false" />
    <add key="/intelcpu/0/temperature/12/plot" value="false" />
    <add key="/intelcpu/0/temperature/13/plot" value="false" />
    <add key="/intelcpu/0/temperature/14/plot" value="false" />
    <add key="/intelcpu/0/temperature/15/plot" value="false" />
    <add key="/intelcpu/0/temperature/16/plot" value="false" />
    <add key="/intelcpu/0/temperature/17/plot" value="false" />
    <add key="/intelcpu/0/temperature/18/plot" value="false" />
    <add key="/intelcpu/0/temperature/19/plot" value="false" />
    <add key="/intelcpu/0/temperature/20/plot" value="false" />
    <add key="/intelcpu/0/temperature/21/plot" value="false" />
    <add key="/intelcpu/0/temperature/22/plot" value="false" />
    <add key="/intelcpu/0/clock/1/plot" value="false" />
    <add key="/intelcpu/0/clock/2/plot" value="false" />
    <add key="/intelcpu/0/clock/3/plot" value="false" />
    <add key="/intelcpu/0/clock/4/plot" value="false" />
    <add key="/intelcpu/0/clock/5/plot" value="false" />
    <add key="/intelcpu/0/clock/6/plot" value="false" />
    <add key="/intelcpu/0/clock/7/plot" value="false" />
    <add key="/intelcpu/0/clock/8/plot" value="false" />
    <add key="/intelcpu/0/clock/9/plot" value="false" />
    <add key="/intelcpu/0/clock/10/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/2/plot" value="false" />
    <add key="/ram/data/3/plot" value="false" />
    <add key="/ram/load/1/plot" value="false" />
    <add key="/nvme/0/temperature/0/plot" value="false" />
    <add key="/nvme/0/level/1/plot" value="false" />
    <add key="/nvme/0/level/2/plot" value="false" />
    <add key="/nvme/0/level/3/plot" value="false" />
    <add key="/nvme/0/data/4/plot" value="false" />
    <add key="/nvme/0/data/5/plot" value="false" />
    <add key="/nvme/0/temperature/6/plot" value="false" />
    <add key="/nvme/0/temperature/7/plot" value="false" />
    <add key="/nvme/0/load/0/plot" value="false" />
    <add key="/nvme/0/load/31/plot" value="false" />
    <add key="/nvme/0/load/32/plot" value="false" />
    <add key="/nvme/0/load/33/plot" value="false" />
    <add key="/nvme/0/throughput/34/plot" value="false" />
    <add key="/nvme/0/throughput/35/plot" value="false" />
    <add key="/nic/%7B090FF17C-2590-44FB-97E1-AF5E0988C383%7D/data/2/plot" value="false" />
    <add key="/nic/%7B090FF17C-2590-44FB-97E1-AF5E0988C383%7D/data/3/plot" value="false" />
    <add key="/nic/%7B090FF17C-2590-44FB-97E1-AF5E0988C383%7D/throughput/7/plot" value="false" />
    <add key="/nic/%7B090FF17C-2590-44FB-97E1-AF5E0988C383%7D/throughput/8/plot" value="false" />
    <add key="/nic/%7B090FF17C-2590-44FB-97E1-AF5E0988C383%7D/load/1/plot" value="false" />
    <add key="/nic/%7B11A3B9FD-D030-47EA-9CAB-88D6586C149A%7D/data/2/plot" value="false" />
    <add key="/nic/%7B11A3B9FD-D030-47EA-9CAB-88D6586C149A%7D/data/3/plot" value="false" />
    <add key="/nic/%7B11A3B9FD-D030-47EA-9CAB-88D6586C149A%7D/throughput/7/plot" value="false" />
    <add key="/nic/%7B11A3B9FD-D030-47EA-9CAB-88D6586C149A%7D/throughput/8/plot" value="false" />
    <add key="/nic/%7B11A3B9FD-D030-47EA-9CAB-88D6586C149A%7D/load/1/plot" value="false" />
    <add key="/nic/%7B29DB1849-663F-45E8-AF69-1FD468B61642%7D/data/2/plot" value="false" />
    <add key="/nic/%7B29DB1849-663F-45E8-AF69-1FD468B61642%7D/data/3/plot" value="false" />
    <add key="/nic/%7B29DB1849-663F-45E8-AF69-1FD468B61642%7D/throughput/7/plot" value="false" />
    <add key="/nic/%7B29DB1849-663F-45E8-AF69-1FD468B61642%7D/throughput/8/plot" value="false" />
    <add key="/nic/%7B29DB1849-663F-45E8-AF69-1FD468B61642%7D/load/1/plot" value="false" />
    <add key="/battery/Primary%00_3/name" value="Primary&#x0;" />
    <add key="/battery/Primary%00_3/energy/0/plot" value="false" />
    <add key="/battery/Primary%00_3/energy/1/plot" value="false" />
    <add key="/battery/Primary%00_3/level/1/plot" value="false" />
    <add key="theme" value="auto" />
    <add key="plotForm.Location.X" value="660" />
    <add key="plotForm.Location.Y" value="340" />
    <add key="plotForm.Width" value="600" />
    <add key="plotForm.Height" value="400" />
    <add key="mainForm.Location.X" value="-8" />
    <add key="mainForm.Location.Y" value="-8" />
    <add key="mainForm.Width" value="1936" />
    <add key="mainForm.Height" value="1096" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_46A8%26SUBSYS_8A20103C%26REV_0C%233%2611583659%262%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/smalldata/2/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_46A8%26SUBSYS_8A20103C%26REV_0C%233%2611583659%262%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/smalldata/1/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_46A8%26SUBSYS_8A20103C%26REV_0C%233%2611583659%262%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/smalldata/0/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_46A8%26SUBSYS_8A20103C%26REV_0C%233%2611583659%262%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/0/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_46A8%26SUBSYS_8A20103C%26REV_0C%233%2611583659%262%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/10/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_46A8%26SUBSYS_8A20103C%26REV_0C%233%2611583659%262%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/1/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_46A8%26SUBSYS_8A20103C%26REV_0C%233%2611583659%262%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/12/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_46A8%26SUBSYS_8A20103C%26REV_0C%233%2611583659%262%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/11/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_46A8%26SUBSYS_8A20103C%26REV_0C%233%2611583659%262%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/3/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_46A8%26SUBSYS_8A20103C%26REV_0C%233%2611583659%262%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/4/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_46A8%26SUBSYS_8A20103C%26REV_0C%233%2611583659%262%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/5/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_46A8%26SUBSYS_8A20103C%26REV_0C%233%2611583659%262%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/6/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_46A8%26SUBSYS_8A20103C%26REV_0C%233%2611583659%262%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/7/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_46A8%26SUBSYS_8A20103C%26REV_0C%233%2611583659%262%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/2/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_46A8%26SUBSYS_8A20103C%26REV_0C%233%2611583659%262%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/8/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_46A8%26SUBSYS_8A20103C%26REV_0C%233%2611583659%262%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/9/plot" value="false" />
    <add key="/battery/Primary%00_3/energy/2/plot" value="false" />
    <add key="/battery/Primary%00_3/level/0/plot" value="false" />
    <add key="/battery/Primary%00_3/voltage/0/plot" value="false" />
    <add key="/battery/Primary%00_3/power/0/values" value="" />
    <add key="/battery/Primary%00_3/current/0/values" value="" />
    <add key="/battery/Primary%00_3/energy/2/values" value="H4sIAAAAAAAEAFv9uEMpwfyeB8N2cffv60L5GEAAyPZSKBUAsxkO/J92bzYjTPzXjx8ZMDYATvZxjjwAAAA=" />
    <add key="/battery/Primary%00_3/voltage/0/values" value="H4sIAAAAAAAEAFv9uEMpwfyex4flHo59pilMDEDwapmH49+ZCXC224dkMPvJUg/HGXIQNlj9hZMsMLaXQqkAAxgc+D/t3mxGmF7HqXFw9W/ZN8jA2KFOCLs2T06Aq7nwWJMdxs5YGQ8Wv7fEw/F4M8LeoyUWljA2APW/nWDAAAAA" />
    <add key="/battery/Primary%00_3/level/0/values" value="H4sIAAAAAAAEAFv9uEMpwfyeBwPDCafv60L5GMDghJOXQqkAhH3g/7R7sxlh4r9+/MiAsQG8P0S7PAAAAA==" />
    <add key="/battery/Primary%00_3/level/1/values" value="" />
    <add key="/battery/Primary%00_3/energy/1/values" value="" />
    <add key="/battery/Primary%00_3/energy/0/values" value="" />
    <add key="plotMenuItem" value="false" />
    <add key="/intelcpu/0/Clock/.expanded" value="false" />
    <add key="/nic/%7B29DB1849-663F-45E8-AF69-1FD468B61642%7D/throughput/7/values" value="H4sIAAAAAAAEADNpaVNKML/nMfWdtdN3xRQmBiDoy7BzOj03Acw+taXMqWk2RDzc+I9T+rskMLvnTIPL8xnJYLbzJQnXe1/SwGzjRlFXqfZIAQYwOPA/5t02RhBLY/ECt5WhEDP35p9w7SyFmOP4Zb5zhjDE/LaYU87bWBPB7ACuTU6C1yHmV+pwuLrNh+h1LxNwvT8tFcz+qNfiLOgBMeeyuJtLgy7EnHMlL12Xm0PEPVtKXbz+Q8yx397uZHsConf9Em/n8G+ZYPaZWdVOxyUhel39JNys90L0WvHoufiegei9UDLLtfosxG19Eezul/kganI0M9znPoGIf4/e7Hq8GaJe4N8q13WlEPbvE9zO19PiwewrJtFOhmIQuxbu2+n8SQSid8/a/y7SpyFmfrs5y00iEqL3+PkDbhaWEDWs8pvdqs5C1KzvanZTPgER368u6mp7CsJuqO13SuiCsFedXOr6mx/i36W7Y1w42SB63/7jc/Y5BFGjtnuzU9c1iHhEN5NTbjxE/NPNm44vj0PYhxelO/urQ9Q4v7rkEr8d4jbzf36uvW0QNT+dTznd8IGoObJU2ll+J8SPUjbnnJ5KQ9T8MDFzNjwBUbMi5pkTAP7FjfB8AgAA" />
    <add key="/nic/%7B29DB1849-663F-45E8-AF69-1FD468B61642%7D/data/3/values" value="H4sIAAAAAAAEAC3RSSjEYRgGcBTlYskS5sCglHJQCklvHCRLTojUDMa+lXKhNJZG3uKIYiwlQs1BGRGluZgsJzW4cLHk4iARCo/v8Z1+vT3v8/++/jnjrlR77k3pWrXKu9UREoSzCZ+67cbb8Og85wG47bnJOKVG5XGu2bgevnltNfbBSRN1UUHmHP00PHuD/zTXqLJRzU5np8rkAHuW4fYY9u/D3tBGYz8cfcn+D7hkibs5XSq3My3GxXB0KXv6YGcWex7g9VzOfd0qZT/seYUL/dzN7FGpfeswLoePE7lr7VUpOOTuClx5xl1rn8rQOe/m6Fe5iGCmaFjFfcd5YAQ9Y8w7RlU8A7QXvmy1GR/A2fH81hH8EsvdO9hyys50l0pCHXdrplTy8plZmVcZPGdma0Elzc95ihvvOqHTYbvSnfBXJN87DYeHcdcDV/iYuYY1wPkb3GPj/BN+Oqa/4aoMZuIWVWy7vFs3POViZha+qvj/p3DyHt+4Ct9bmPHA2X5mduBf4zSqh3wCAAA=" />
    <add key="/nic/%7B29DB1849-663F-45E8-AF69-1FD468B61642%7D/data/2/values" value="H4sIAAAAAAAEAC3QSyjEURQGcI+IhcfkEYa8FhZSZBiSzk7SPSkxiJrxGiwsbSiETKZspKE8V55lIY8slKRmwqwUSmFBsjAkoTzGcT939ev0fed/7980PJJhM1+Vjz8qek9vDQqQMyE+nrVpu8SD05jPidt9zdon4vupFu00n6KrV7t21JOiJEd9dIA++/5G33bgn1Y/FK3UYOfWp6LRbuwxfynqiMH+BvF2SJN2k9hwjv0H4rJ5dC3fiq5dbdr9YkM59iyLB3Kwx/KjaMmM+ZFfUYUfe7ziUg+6l+Lat07tG7E7Ed2+QKaSPXSrgpj4BN2IYKZeL+6WEcZ0GolMRBzT7C3mG0Ym9xDyC8lM692wJYXp3G7VrhPnxeNbdvFLLLousfEYOw/TmBLq0a3OYioqRuY5m6nHi8x4LlOmB/PIfKbSI9ggtjnhBBPTZxTeOykOD0V3RqwOkFkUO8/+/6G4y4r5mvjBDW+KK7OQORNbd3A3RwHT2AgyL+ILhcyPOHUXbwwtZLozIhMtzvMgEy/+BR75FZR8AgAA" />
    <add key="/nic/%7B11A3B9FD-D030-47EA-9CAB-88D6586C149A%7D/load/1/values" value="H4sIAAAAAAAEADNpaVNKML/nwQAEBdfD+BigQKo9UgDCOvA/5t02Rph40s5fGTA2AIVSKOs8AAAA" />
    <add key="/nic/%7B11A3B9FD-D030-47EA-9CAB-88D6586C149A%7D/throughput/8/values" value="H4sIAAAAAAAEADNpaVNKML/nwQAEBdfD+BigIKU4UgDCOvBfiGk7I0w8aeevDBgbAG+kymg8AAAA" />
    <add key="/nic/%7B11A3B9FD-D030-47EA-9CAB-88D6586C149A%7D/throughput/7/values" value="H4sIAAAAAAAEADNpaVNKML/nwQAEBdfD+BigIKU4UgDCOvBfiGk7I0w8aeevDBgbAG+kymg8AAAA" />
    <add key="/nic/%7B11A3B9FD-D030-47EA-9CAB-88D6586C149A%7D/data/3/values" value="H4sIAAAAAAAEADNpaVNKML/nwQAEBdfD+BigIKU4UgDCOvBfiGk7I0w8aeevDBgbAG+kymg8AAAA" />
    <add key="/nic/%7B11A3B9FD-D030-47EA-9CAB-88D6586C149A%7D/data/2/values" value="H4sIAAAAAAAEADNpaVNKML/nwQAEBdfD+BigIKU4UgDCOvBfiGk7I0w8aeevDBgbAG+kymg8AAAA" />
    <add key="/nic/%7B090FF17C-2590-44FB-97E1-AF5E0988C383%7D/load/1/values" value="H4sIAAAAAAAEADNpaVNKML/nwQAEzFvD+Big4ElepACEdeD/f43tjDDxpJ2/MmBsAMQxkwU8AAAA" />
    <add key="/nic/%7B090FF17C-2590-44FB-97E1-AF5E0988C383%7D/throughput/8/values" value="H4sIAAAAAAAEADNpaVNKML/nwQAEzFvD+Big4ElepACEdeD/f43tjDDxpJ2/MmBsAMQxkwU8AAAA" />
    <add key="/nic/%7B090FF17C-2590-44FB-97E1-AF5E0988C383%7D/throughput/7/values" value="H4sIAAAAAAAEADNpaVNKML/nwQAEzFvD+Big4ElepACEdeD/f43tjDDxpJ2/MmBsAMQxkwU8AAAA" />
    <add key="/nic/%7B090FF17C-2590-44FB-97E1-AF5E0988C383%7D/data/3/values" value="H4sIAAAAAAAEADNpaVNKML/nwQAEzFvD+Big4ElepACEdeD/f43tjDDxpJ2/MmBsAMQxkwU8AAAA" />
    <add key="/nic/%7B090FF17C-2590-44FB-97E1-AF5E0988C383%7D/data/2/values" value="H4sIAAAAAAAEADNpaVNKML/nwQAEzFvD+Big4ElepACEdeD/f43tjDDxpJ2/MmBsAMQxkwU8AAAA" />
    <add key="/battery/Primary%00_3/temperature/0/values" value="" />
    <add key="/battery/Primary%00_3/timespan/0/values" value="" />
    <add key="/nvme/0/load/33/values" value="H4sIAAAAAAAEADNpaVNKML/nIfjojuN3xRQmBiDY1cZqf3puAph9L7rdrmk2RLxi/Rk7kYNJYLan2Bx7u9nJYPbGfBv73L9pYHaOVI99LqebAAMYHPjfkH6KEcSK1LrtOL8GYub8Cc/tkv0g5vxm4rffLgAxf4V7uF0FZyLELsHjdpOvQsy/1XrX7uYxiF45Ryn7+9NSwew5azfbMapBzFm3c6LdInWIOWp2ufbC5hDx8z4i9rx/IebM4uCzf38WorfaTMVe+VMmmF1XsdCuWAaid0Zjiv3UlRC990K57Sd+gOi9wqxnX/QY4rZKWS/Hy3wQNS9DnRw37oWInzmyxmFhPkR9nN5v+wMbIGyFRaH2QsHxYPaDZkf7R0wQu1T/ptg7ikD0Wp2b5vDgE8TM2R3dDhKREL1aBqEOFpYQNSZnztlzL4OouXrPwX7Se4j4pE3v7WxPQdh/nlywS+iCsH0Cj9v95of4V61it93S2xDxX0tP2DEfhbBbZrLZM1+DmCl0mM9uYTtEfIpKqB33Qgi7aNVnO11ofB0KabaP3w5x26t7ffa9bRA1ap8O293wgah54XjaTn4nxI/y+q12SrMgcVcicdruiydE76XNdvYAfxTph3wCAAA=" />
    <add key="/nvme/0/load/32/values" value="H4sIAAAAAAAEADNpaVNKML/ncal+u/13xRQmBiDIr263Oz03AczWm+9m1zQbIr5nXYOdyMEkMDt2XbG93exkMHvayw673L9pYLZXwzq7XE43AQYwOPC/If0UI4j18Dm73fwaiJmBqXPtkv0g5hw7fMVuuwDEfCdTP7sKzkQwe8HfWrvJVyHmN6Ussbt5DKL3pfBEu/vTUiH2Ms+wY1SDmJM3199ukTrEnEnB6+2EzSHi5ROn2fH+hZjzov+W7fuzEL2Fvy/bKn/KBLP9WNXsimUgeu18N9hNXQnRa+/0znbiB4hevl2L7IoeQ9w2J7PD/jIfRE1TgYzDxr0Q8Xsq7fYL8yHqWzeH2R/YAGGfKbSwEwqOB7P3s4jYPWKC2FW3cpedowhE74tlV+wefIKYeTtxp71EJERvhNgdewtLiJq4/9/tuJdB1MxkWWc36T1EfNqKJXa2pyDsawmz7BK6IOw/T6fa/eaH+LeKcabd0tsQcRejUjvmoxD2njef7ZivQcycdN7AbmE7RDz3t5wd90IIu+6Ji50uNL5cLY7bxW+HuC3wjoV9bxtEzbKlM+1u+EDU/NVvsZPfCfHjvyknbZVmQeKuh/+m3RdPiF4H8257AHBqP0x8AgAA" />
    <add key="/nvme/0/load/31/values" value="H4sIAAAAAAAEADNpaVNKML/nEf6+1/67YgoTAxA0MZbZnZ6bAGar5MnZNs2GiJ/oVLcVOZgEZnfyP7Szm50MZu9Sf2mX+zcNzJ6RaGGfy+kmwAAGB/43pJ9iBLHcg8wc5tdAzGw6LW+X7AcxZxZHuM12AYj5vU7BthWciWC2wgZzu8lXIeanP19se/MYRO8m61t296elgtkHny22ZVSDmDNvaq/tInWIOe0z19sJm0PEH9ll2PH+hZgTxM5o//4sRK/FeXZ75U+ZYLbBVRu7YhmIXhNDfvupKyF6+VOu2k38ANG7NW2lXdFjiNt8Z7A6XeaDqLmzq9Fx416IOFPZQoeF+RD1Wy5tsj+wAcK+3yZmLxQcDwlPJzH7R0wQuyou3LZzFIHoDcq44PjgE8RM5kUuDhKREL0lue/tLSwhakpK59hzL4OoebVA3H7Se4j4jBvHbW1PQdgreObbJnRB2AuLG21+80P82yjqarv0NkQ8gf+KLfNRCPvkVj8b5msQM8F62iHi5zUDbbgXQthvjvjY6ULjiy/Y0D5+O8Rtx74/tettg6hJnO1ke8MHokb/u5Od/E6IH9VFjGyVZkHibtpLbtsvnhC9azmVbQFyVcpRfAIAAA==" />
    <add key="/nvme/0/load/0/values" value="" />
    <add key="/nvme/0/temperature/7/values" value="H4sIAAAAAAAEAPuzP7QzwfyeBwPDHEcAB/VdQgwAAAA=" />
    <add key="/nvme/0/temperature/6/values" value="H4sIAAAAAAAEAPuzP7QzwfyeBwPDD0cApFvMQwwAAAA=" />
    <add key="/nvme/0/data/5/values" value="H4sIAAAAAAAEAPuzP7QzwfyeB8MxEzcAt7zFLwwAAAA=" />
    <add key="/nvme/0/data/4/values" value="H4sIAAAAAAAEAPuzP7QzwfyeB4NrrhsAc//PpwwAAAA=" />
    <add key="/nvme/0/level/3/values" value="H4sIAAAAAAAEAPuzP7QzwfyeBwPDAXsAZLvu4wwAAAA=" />
    <add key="/nvme/0/level/2/values" value="H4sIAAAAAAAEAPuzP7QzwfyeBwNDgQMAcXmRxwwAAAA=" />
    <add key="/nvme/0/level/1/values" value="H4sIAAAAAAAEAPuzP7QzwfyeBwPDNCcAN0y7IQwAAAA=" />
    <add key="/nvme/0/temperature/0/values" value="H4sIAAAAAAAEAPuzP7QzwfyeBwPDHEcAB/VdQgwAAAA=" />
    <add key="/nic/%7B29DB1849-663F-45E8-AF69-1FD468B61642%7D/load/1/values" value="H4sIAAAAAAAEADNpaVNKML/nwRBzxeq7YgoTAxBkbXWzPD03AcyO237Zqmk2RHxW9WOr9HdJYPY3C0ab5zOSwez8dBabe1/SwOwHWzhtytZFCjCAwYH/DMe3MYJY+3j77FaGQsxcLtFh01kKMWfZE3XrDGGI+fFTXlptY00Es1mdzlgJXoeYr2X7ztptPkQvX9QH6/vTUsFs1S2VVoIeEHNEDOdaN+hCzGmQZbBdbg4VT2u39voPMeeilrO17QmI3sZlIdbh3zLB7N4YHuvjkhC98tsFba33QvSu3zrD2vcMRK9Ryjqb6rMQt317YWJ3mQ+iRj2ozW7uE4j4n+y3NsebIeplrWfarCuFsK9kVlhdT4sHs9NmTLQ0FIPY5WXQa/VJBKLXPUnfRvo0xMyMd7dsJSIhepe8kLKzsISo2SRTY1d1FqJmS6mKrfIJiPi0cww2tqcgbK4l0ywTuiDsT65VNr/5If49kS1pzckG0Xv0Wam1zyGImhZuZuuuaxDxTxxtVrnxEPFbp7ktXx6HsJetLLTyV4eoKTB6YB2/HeK20lRzm942iJouu22WN3wgaiL8fazkd0L8yLfupeVTaYgaqYQsK8MTEDWTpnhaAQBdJrmwfAIAAA==" />
    <add key="/nic/%7B29DB1849-663F-45E8-AF69-1FD468B61642%7D/throughput/8/values" value="H4sIAAAAAAAEADNpaVNKML/ncWKRv8t3xRQmBiDoUYtxOj03AcwO9PF2aZoNEX9e5e2S/i4JzK6a7uX6fEYymD2j5qPLvS9pYDYrC7urVHukAAMYHPgf824bI4h1MPyv+8pQiJmtzYqunaUQc+6UtLpkCEPML5TncdnGmghmXz9o4yJ4HWL+u0e3XdzmQ/TeW3Pe5f60VDCbv6/aWdADYs6s3Q9dGnQh5qz5Key23BwinvFvjovXf4g5rcoHXWxPQPQKWR1yCf+WCWa/Ue50OS4J0ct5WMTNei9E7+66Jy6+ZyB6Ve+cda0+C3GbT0Ge+2U+iJo9hQvd5z6BiN+ZLu12vBmivmLWRNd1pRC27Z5dztfT4sHsTPP9ToZiELt2fwh2/iQC0cvTnuUqfRpi5oF9Iu4SkRC90ivi3S0sIWrUV193rzoLUfMyZ6ar8gmIeN6Xly62pyBsjoPLnRK6IOxbrZauv/kh/n3YdMCZkw2it0vjjYvPIYiaIK8Kl65rEPFHfkwuufEQ8ckvjZ1eHoew2a61OvurQ9Tk+P1xid8OcduOt9quvW0QNfPd1jnd8IGoYbFrdZbfCfGjvheX81NpiJoNrNOdDU9A1NxePs0ZAMJuIeF8AgAA" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_46A8%26SUBSYS_8A20103C%26REV_0C%233%2611583659%262%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/10/values" value="H4sIAAAAAAAEADNpaVNKML/nwQAEzFvD+BigQMDxIT+EdeD/XX19Jph4xINfGTA2AEUl1B08AAAA" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_46A8%26SUBSYS_8A20103C%26REV_0C%233%2611583659%262%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/9/values" value="H4sIAAAAAAAEADNpaVNKML/nwQAEzFvD+BigQMDxIT+EdeD/XX19Jph4xINfGTA2AEUl1B08AAAA" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_46A8%26SUBSYS_8A20103C%26REV_0C%233%2611583659%262%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/8/values" value="H4sIAAAAAAAEADNpaVNKML/nwQAEzFvD+BigQMDxIT+EdeD/XX19Jph4xINfGTA2AEUl1B08AAAA" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_46A8%26SUBSYS_8A20103C%26REV_0C%233%2611583659%262%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/7/values" value="H4sIAAAAAAAEADNpaVNKML/nwQAEzFvD+BigQMDxIT+EdeD/XX19Jph4xINfGTA2AEUl1B08AAAA" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_46A8%26SUBSYS_8A20103C%26REV_0C%233%2611583659%262%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/6/values" value="H4sIAAAAAAAEADNpaVNKML/nwQAEzFvD+BigQMDxIT+EdeD/XX19Jph4xINfGTA2AEUl1B08AAAA" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_46A8%26SUBSYS_8A20103C%26REV_0C%233%2611583659%262%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/5/values" value="H4sIAAAAAAAEADNpaVNKML/nwQAEzFvD+BigQMDxIT+EdeD/XX19Jph4xINfGTA2AEUl1B08AAAA" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_46A8%26SUBSYS_8A20103C%26REV_0C%233%2611583659%262%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/4/values" value="H4sIAAAAAAAEADNpaVNKML/nwQAEzFvD+BigQMDxIT+EdeD/XX19Jph4xINfGTA2AEUl1B08AAAA" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_46A8%26SUBSYS_8A20103C%26REV_0C%233%2611583659%262%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/3/values" value="H4sIAAAAAAAEADNpaVNKML/nwQAEzFvD+BigQMDxIT+EdeD/XX19Jph4xINfGTA2AEUl1B08AAAA" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_46A8%26SUBSYS_8A20103C%26REV_0C%233%2611583659%262%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/2/values" value="H4sIAAAAAAAEADNpaVNKML/nwQAEzFvD+BigQMDxIT+EdeD/XX19Jph4xINfGTA2AEUl1B08AAAA" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_46A8%26SUBSYS_8A20103C%26REV_0C%233%2611583659%262%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/1/values" value="H4sIAAAAAAAEADNpaVNKML/nwQAEzFvD+BigQMDxIT+EdeD/XX19Jph4xINfGTA2AEUl1B08AAAA" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_46A8%26SUBSYS_8A20103C%26REV_0C%233%2611583659%262%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/0/values" value="H4sIAAAAAAAEAC2RXUjTYRjF56SRiM1yk2TLuQlTUueoQCU0D+lUGMsLrwrazJw42Bb7h0hsiFKuBsPZWIRDZYKKl0EkBmKFRuiUIAzD/EjFLhcjCBH74D29Vz8O55z3eXiuPBw0OKq2m8POIH7p78pl/952fwFWRh2Cfd/PYiBO3RqsgertHcFS4jbq4h2CFWsVcJ84BR99NSEX35Qy8d782aqsFLr/YwzjfnYe2PLRYWNP2yMNZnPZHzmlR29Wu+APRRpE19mvWi/Fl/fMTuyfx86zTsHqhkJkGNnz7qUaEyXsccmLkFdFvcRzDjkn7ImMqZFaZTauNaA43S042WiApGW2LiUhNsOsK2XB8A9mT19rg2+fs/3euoFPZ+iJ+u7jxTx1xcpFJLz0D9VX49UTsrXPDO0DO+f3mLEn51+h15cBFbMLUjN20+w0rd6E5zqzlzTAno2e54FqZE/RM3W1HE9T1B3TxahdJrd6C+AIkS07OhwruW+XW4fJTeprF/TIXCIHHiuR+ZmdMq8SiSD1psUcZCfIcz41Kv7f61Z/GeyznK19uhzhQXoOVUZsWOm5lzRCN8cde2aMMIzwdp1SKX62MJvfZMZf17lJ6HwCAAA=" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_46A8%26SUBSYS_8A20103C%26REV_0C%233%2611583659%262%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/smalldata/2/values" value="H4sIAAAAAAAEADNpaVNKML/nUXL3lyvz1jA+BiAAsW033OdnAIMD/zccMGCCiUc8+JUBYwMA3+D1+TwAAAA=" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_46A8%26SUBSYS_8A20103C%26REV_0C%233%2611583659%262%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/smalldata/1/values" value="H4sIAAAAAAAEAD2QX0jTURzFl0j4Eir9gTRD1Ieg+pFBKfXiw46EDyo+SX/op5utaFsvv+EQsSeHDfJFk0IdtiTSwiKMLUiJGOHKHkTy3u2Cf0oUJgyEhJJqjnvU+/ThcL7nHO5ypLTcrFq8UhYXuFfckmPLvthpifn7Ds1NRRJ1p1o1vxkWmBolh/MExpraNH9qFLA6b2sOpgWMbXu+Tb+PmYIHca33p5Lw3+Ht5K8kPAF2pQ4qbK2yK9ysYGyamme8CoFX9G93Kmy0U5/2KVh57K1xKpTnOzWvXVU4ucSc/kMKKzm8/XBe4Vk1+YhdIRjlzslMEr0NLs3X+xS+dt+i/2ESudd2NzxNYHGWmUY6gcI5bu4ZTmAkzcxzzRK+y+SUQ+LfBPmMKeH/3rLPvhHqb7OeS3fJUa/E3wPkoqhAl0X/iVqBCwZ7OzwCZ73UQ38W0P2TeoVLYOAo2T4mcPwRN/uzfKOSf2JOCMweZv7z1wLv6sirLwXiIfpHwwKtFz/n7nHJN3rcLwT+R25qLnsvsLZOfXxQ4ofF/N7HEu4YPb+fSFR0UbdlPR313HxsSGLjC/WBkMQOs2bn2nACAAA=" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_46A8%26SUBSYS_8A20103C%26REV_0C%233%2611583659%262%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/smalldata/0/values" value="H4sIAAAAAAAEAEWRX0iTYRjFP/+RYurACV4ImoF6I0gEdjMxPMgCkUUI3ohfaaIXaRjBcGvDHOI73zn/YIkS/iGl7r4gHGXiJ+gwRRykkAQpBhoEOqToQmTKexTfqx+Hc877PDy3fd35eulPu/2+xP8bjfHa+TPDfqy90RX3XO/FyzHqlpiEdfGRYvuDIMrGGhSv3OrDk9Mmxe/memEzdjI09cyYYZYoXXvtxbibnVqlFw3V7HF89CBkYX9/gRvOlIeK9ecuDG2xP5LgwnaYWcPmws6rx4onvroQV8Cep1Y3pgrZo3k9yCylbta8QNope7Q1N47WmdUOPbh53EKPowPPcpjdLevE8HtmjUMfBqLMZs93of0XZzNiPnxLp8eS5ceHeepF+wKTbfTn/ROYFVec01GvOPlAYC+ef0U/C9y1Mts8LLF7zE69rg+tFcz+Xghgr5qe2mAQqTP0lG8HMHhE3YxI2FbJ0Q0J3U92fJE4yeC+d0IS0z+ol4clEpYv+I/E27qlxEtOnaSetylRfHEj+4BEfYjzFF0TCHTTM5Ip8L2KnmiaQO4n7hVJEcgf5b2cSQJ/7zHrPOnBGch8uY5wAgAA" />
    <add key="/nvme/0/throughput/35/values" value="H4sIAAAAAAAEAHuwXUE5wfyeh8MsW8986UQmBiD4vMTY43J9Mpj9TWuTu5dGEpgddlXTY+8SCDt39XrPlUGpYHakjJlnSU0GmJ1wt9sjLng1PwMYHPj/QB9iTn3gCo+KTIjexHRjz9w2iF35XzI9vz6BqOlVFHDX+5gAZq88J+nRtgaivnmxs+frcoh4v9tL9xIOiL19r7w8DH1TwOwCczl3gYUQc5iMwzwfMkH02rVreiy2gLpZucO9awfEnRuviLn3+aeD2VGzetxPt6aB2VUhuzxZoiF2bVl1wOPeGYiZ2rHRnoIXIW6+c4fPa8E7iJlb9iz2KrWGsE/csvX8uw7C9qrw8qi4ClEvsuuue+kCiPjvE7weVtkQNstEc48/jBB2yFtDz7oSaJj8fudlqgexV+A8m7duHkRceslHj9bHEHG7K3ae00Qh7Fsn2T0kp0LcPCNdzCPWEBImLvtZPc8IQ8zfIeDpsdULwm46K+J+ch5E/ffaTo95/BBzfLwmuB1Rg7A5WPTdZM9C1NftZPX4tz0ezP6fyOT17DnU/RvCPB+VQOwSLnntnnMEoobv+1J3lTqIuO3OC55VfhD3n9mn6PH6FET878kTngAHIk1ifAIAAA==" />
    <add key="/nvme/0/throughput/34/values" value="H4sIAAAAAAAEAHuwXUE5wfyeR5Vsh2e+dCITAxD4zWPyuFyfDGZPW3jP1UsjCcy+XMbotncJhD0jS9ZzZVAqmH2yicurpCYDzGb/fNMzLng1PwMYHPj/QB9ijhPnRo+KTIjef1yG7rltELtW2cx3+/oEombTtwVueh8TwOwQFmf3tjUQ9dUh9m6vyyHibedEPUs4IPZuOcTgbuibAmbXi9S6CSyEmBMl9tD9IRNE7wKNNW6LLSDsojdVnl07IO40qNjv0eefDmY/csv2ON2aBnHnUgVPlmiIXRtWb/C4dwZipp/cBw/BixA3W/9O8FnwDmLmgzOG3qXWEPbm/cref9dB2LtWs3lWXIWo71Z661G6ACJ+5M1lD6tsCPu6/zWPP4wQ9gUPRZ+6Eoj6tEOVXqZ6EHtXV3/w1M2DiBtoGni2PoaI8/587jFNFMJeef6Ti+RUiJt/KS5yjzWEhEm/OLP7GWGI+RoXGty2ekHYrLP3uZ+cB1EPAvP4IeYcEXZ0O6KWDBeXPQtR/7nokdu/7fFgtle5vMez5xDxW5faPR6VpMDV5xyBqLn9TtVDpQ4iXvF3vVuVH8T9SdW1bq9PQcT1LLndAfdsKP98AgAA" />
    <add key="/ram/data/2/values" value="H4sIAAAAAAAEAC2RS0jUURjFZXwl+EKFCv6YjQsdyI0KY4uCs/GFhNTGFPPvM3RTkogMlS28N53/naipDGrEQvCFLVwoGJjirHIcHBoUCZlFYAwqDIjYxpjknvlWPw7nnO9evsoRaTedkdrorsDf6122pIvJ/CUQmDA1m88Ehgeod0wLXI52aE73Sdz+1Kl5f0Oi5meP5jeLEo3D2zlJetbjfgNa94YlXF3szItJOO+w53HyS1xysL90X2Ioo13z8WuJtzvsvzEgMT/J7Iwp4X/XrbmyW+LEzp6lPwLn99jzPSSQ76RuTAhk/WPPC5dALMisMShQfNKrub5f4InBbFm1xPs5ZqeaJOJ+ZgMfJFJyqVcUjSKcTS5ssbC4yjd3llv48oj+uzYLy2Pk2IEbhqtN8+lnN37buGvM5wYKmL1538LzADuvOBRCfcyOHCo8LKWnscIDuUWPI9sDb4z6wpHCrU1ywTcF002u9ymMR7krbVahKuF/+kphZ49ctaSQvMvOyIJC/AH1khmFrz/IV+cUyhL3OvMreCMJf0ChuY2c2qqw10AutytcW+HehogF+0febjBo4bSO/+pbs/AfsZAJ7XwCAAA=" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEAC2RS0iUURiGB3NR5G+JgggD0kSoUG40RxSVeYVUEJG0Fgo51TiaCy94QV1oCx3Q5r/gmf9EeYkUgoSKNmKUFAwubBTNMFy5cBEqpCJKG4dRzutZPbx87/Odw8kdCri87q3y5y8N/L/hi3Ocn9qAgcikV3Hpro7BLubvbhlI3Xmi+Gu3ieLxp4rNRRNl637FzZ9MVA+uXnOo8yMWdnpUPvfXRL+PzkCeBXcVPdZdC5ez6C87MdF75bHi9CETYoP+j990zL5ht6NLRzjUqDg7ouPIRc98nY7TGnqSfDqS3cx7buvQovQ494I4WGF3dj+Im0fPFBfuBtHpZHckyYD9nt3pVgOxMLvaqoH468ynOiz8TiSnCYHPC7zz6SuBt22c/z4sMDdCNvwCzv4GxVFNYDuOu2aSBTwp7E5oIQxE6Hz4wMZaC7vLLySaMjnTHpUILHNmb1ti7IB5rpAo+kk+LJDwjpIth4Tc4a77mkT+xXzJLxsbm+TsTIlLf+i8lyARe8T8X4rEhyWyP0PizsV/TXnO926RE+sl6hrIK+s2NivJV/tspH/h3soMG67X/LvqnBCOK/iuxnmBMw8wG0N8AgAA" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEAC2RXUhTYRzGRUcq5Ac50IsD6pTIixJEmZHK440VhCR65YUus6LdKHj82JE29AyhtuF2zskLK5xgFwpeKCSKBIN1sWZRKIp4MUQUhjfCXAhSznif8179ePg/v/er3jtlc9gTj/osQVxU9mdn/V8jtUFsfXIIdm+E4JGZX1WGUJrsE3y0F0DLh+eCw4UBPNx+KbiuLYCnnl9FWWJFMlGpVeTyph9KP51N5z7Y2+lZ+ONDXg39pzN+jOU/ExxfDUDfpb+rRsPSHLv+hIao8UJw2qIhZaPnVrmOv530hHN1lNiZV+g6Cv7RY9w3cPaT3ep7BqpSrwXHHhgYktiVu0J4v8hu0hlEJsruDdc0LMXMr3p82Ckkd3tVrHzlma1DKuYHOH/wWcXaW3JZWoWk9Apu2/biKJt7Sd+8aLWya+mYhHuLzvUGN3472b1ZMYZXdzhzeDKMqR+cSTtHoJ0xP74cRXOcHPniguMdOXygYCZpvsmsgkZzPi82jt1901miIGePzsM5BZke5rKsYPk7OVaq4K75X02GC1qC/NHqQnevmUfGsf+EHJx8g/IN7rsueWCb5d8NpiaQfsx7xW+ruAbnNCjJfAIAAA==" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEAC2RX0iTURjGh45IIScoetGgnCF2oez79un2+Z1Jj0JaaBiCZoHO/+ZFlimIDgchhl6ZWUQiUXShQhdBGiqhMIzSiWJMRGEX6oUoIQ0lCGXJeXaufjy8z+89h6P19ds8zlBx4baKv2kNMabzM7OoYnnMI3nKpMLXwbyzREXqfp3k2LAD+aP1kq9VaChab5L8IE9DmW/VYpJnIeK3QuazPg3dDXRu7Gpw3qHnw46Gi9fpj7zQ0BVXK9li1vAySP/SDwWT79jNfqTAP9Io+d+WgrCNnsNSBafl9HysUpDkZL6XpODSGT2TC3YcrbBb992O9PBDyUPzdjy1spvnUPFqgl3TuIqIn90/Vx0wJzI/ycrBrwRy0WUdn7/xzgfpOt63cf55vI7pAXLLrgvW7hrJdztc2InhrqYeF5DMbviLjt5lOi+UGVhrZfdJUKA5kzOn9W70BzjztcCN4SPmcyEB9xLZ/FjAM0gOZAi83ueuQK6AKzrffmgguEn23hOI3aDTmyMQqWZeeUPg00/ys0qBrOh/NXYJDIfIpW8E7tdE898GNkvIa14DV2a492aKAdtb/p3Y03F8i++y3NbxHz5/RI58AgAA" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_46A8%26SUBSYS_8A20103C%26REV_0C%233%2611583659%262%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/12/values" value="H4sIAAAAAAAEADNpaVNKML/nwQAEzFvD+BigQMDxIT+EdeD/XX19Jph4xINfGTA2AEUl1B08AAAA" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_46A8%26SUBSYS_8A20103C%26REV_0C%233%2611583659%262%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/11/values" value="H4sIAAAAAAAEADNpaVNKML/nwQAEzFvD+BigQMDxIT+EdeD/XX19Jph4xINfGTA2AEUl1B08AAAA" />
    <add key="/intelcpu/0/voltage/8/values" value="" />
    <add key="/intelcpu/0/voltage/7/values" value="" />
    <add key="/intelcpu/0/voltage/6/values" value="" />
    <add key="/intelcpu/0/voltage/5/values" value="" />
    <add key="/intelcpu/0/voltage/4/values" value="" />
    <add key="/intelcpu/0/voltage/3/values" value="" />
    <add key="/intelcpu/0/voltage/2/values" value="" />
    <add key="/intelcpu/0/voltage/1/values" value="" />
    <add key="/intelcpu/0/clock/10/values" value="" />
    <add key="/intelcpu/0/clock/9/values" value="" />
    <add key="/intelcpu/0/clock/8/values" value="" />
    <add key="/intelcpu/0/clock/7/values" value="" />
    <add key="/intelcpu/0/clock/6/values" value="" />
    <add key="/intelcpu/0/clock/5/values" value="" />
    <add key="/intelcpu/0/clock/4/values" value="" />
    <add key="/intelcpu/0/clock/3/values" value="" />
    <add key="/intelcpu/0/clock/2/values" value="" />
    <add key="/intelcpu/0/clock/1/values" value="" />
    <add key="/intelcpu/0/clock/0/values" value="" />
    <add key="/intelcpu/0/temperature/22/values" value="" />
    <add key="/intelcpu/0/temperature/21/values" value="" />
    <add key="/intelcpu/0/temperature/20/values" value="" />
    <add key="/intelcpu/0/temperature/19/values" value="" />
    <add key="/intelcpu/0/temperature/18/values" value="" />
    <add key="/intelcpu/0/temperature/17/values" value="" />
    <add key="/intelcpu/0/temperature/16/values" value="" />
    <add key="/intelcpu/0/temperature/15/values" value="" />
    <add key="/intelcpu/0/temperature/14/values" value="" />
    <add key="/intelcpu/0/temperature/13/values" value="" />
    <add key="/intelcpu/0/temperature/12/values" value="" />
    <add key="/intelcpu/0/temperature/11/values" value="" />
    <add key="/intelcpu/0/temperature/10/values" value="" />
    <add key="/intelcpu/0/temperature/9/values" value="" />
    <add key="/intelcpu/0/temperature/8/values" value="" />
    <add key="/intelcpu/0/temperature/7/values" value="" />
    <add key="/intelcpu/0/temperature/6/values" value="" />
    <add key="/intelcpu/0/temperature/5/values" value="" />
    <add key="/intelcpu/0/temperature/4/values" value="" />
    <add key="/intelcpu/0/temperature/3/values" value="" />
    <add key="/intelcpu/0/temperature/2/values" value="" />
    <add key="/intelcpu/0/temperature/1/values" value="" />
    <add key="/intelcpu/0/temperature/0/values" value="" />
    <add key="/intelcpu/0/load/13/values" value="H4sIAAAAAAAEAEvtf62YYH7P40RiuuOPtalMDECQoTPL4e2bJDBbOuaL/aHfEPb5CAEH9ZMJYLZ//SuHB9+TwWwrsTkOCfPTwOybm5scepd4CzCAwYH/lTuPMoJYRiYsToteJoLVzEkVc/y+F2LmjKqJDluXQcTdgx87+JdAxMPZHjmsmw8R5xbScQwxg4gnzRR2jJ4JsVchZ6KD1zYI+zlriuP+IIgbHt4QdpylB1E/7/s3B6FdEHNEy0Ucp2+CqJ8jvtCxozobzK5JWe7483gKmP3C5Y7juzwIW+kgh9NzcYjeVGkTp1n1EPF1k7yc/l6IB7N1Pbqd4k9AzHxmqe/ksBjC/vfB2an9NUSvgKOOk+A9CPv7Al6neA8Ie1+GvtN1Noj60MNmTtoXIeJ6+q1On9Uh4saXnJ3EPSF+mX57o2MsNEzEJJMdzPshbKWc//Z/nkLUq83cbZ8oAFHfrrHc/q8dRI3ZJU+Hg6kQ8TlqEg4rWiDqZ508Zv/EG6Jm8vtG+8qHEHZH4iz7ff8gajzFeB2KRCDiyw4HO8R+gbp/0yKHO8IQNROf9DnYLoWI1yw5ay/HAhHnWcXmcL0DIp50Zop9QDgkDA+8eG4PAJV+d5N8AgAA" />
    <add key="/intelcpu/0/load/12/values" value="H4sIAAAAAAAEAEvtf62YYH7PY0riNMcfa1OZGIBg9dKTDm/fJIHZsWVCDod+Q9gSp1Mc1E8mgNlGs0QdH3xPBrMd5tx3SJifBma7Lt7s0LvEW4ABDA78r9x5lBHEKk5hclr0MhGsxvK2seP3vRAzp0y64rB1GUQ85rCJo38JRLxoKrfjuvkQ8aeZCY4hZhBxGelQx+iZEHtP3nnv4LUNwmY4Ot1xfxDEDf/OpzrO0oOo78rLdRTaBTHnsfEdx+mbIOr/RCs5dVRng9nCJ42dfh5PAbPvxJg5vcuDsGfs43F6Lg7Re+m7ptOseoi4hGaw098L8WC2tl2tU/wJiJmeiXyODosh7A9abQ7tryF68y1VHATvQdinErkd4j0gbG4OZofrbBD1wn6mjtoXIeK71zs4fVaHiE+6HOAk7gnxy2euE46x0DBRq9rgYN4PYb86JePw5ylE/Y955+wTBSDqK8r97P/aQdTYuQY6HEyFiC/TP26/ogWi/tN1C4cn3hA1TbIL7SsfQthm/F32+/5B1BR+eGxfJAIRD6jzdoj9AmGrs692uCMMUcNq/8bBdilEPCr6gb0cC0S8hsnM4XoHRHyJPrNDQDgkDJ96d9gDAN5rYBJ8AgAA" />
    <add key="/intelcpu/0/load/11/values" value="H4sIAAAAAAAEAEvtf62YYH7Pw/DsGscfa1OZGIDAvy/A8e2bJDDb0KbY4dBvCFu2c6aD+skEMDtVNdjxwfdkMFvoh5ljwvw0MHvDvssOvUu8BRjA4MD/yp1HGUGsxj0sToteJoLV1Da2O37fCzEzScPGcesyiHhgwhJH/xKI+Aq/Q47r5kPEN5xlcAoxg4jXGFxwjJ4Jsff8mt2OXtsgbFOBr477gyBusFl83XGWHkS9DsNxR6FdEHPMTJfaT98EUV8WMdmhozobzNa6Ju3w83gKmM1zTcfxXR6EbdMU5PBcHKLXjsfZcVY9RNxA+5vj3wvxYHaPcYZT/AmImbO7XR0dFkPYz0SbHdpfQ/Re0Sp2ELwHYfP+6HCI94Cwz7mctL/OBlEf9d/eUfsiRPzDJH+nz+oQ8a/sSU7inhC/rP7O5BQLDZOvHpMdzPsh7GUPah3+PIWoT5F8aZ8oAFF/XprR4a8dRM3/S70OB1Mh4t+8NBxWtEDUnxaPdnjiDVEj4HfdvvIhhP3J7I39vn8QNYs2SzoUiUDEQ08ccYj9AmGbTF7gcEcYoub2rgcOtksh4ou+lTvIsUDEW18ucbjeARFvEfRyCAiHhGGEZpgDANZ9wMt8AgAA" />
    <add key="/intelcpu/0/load/10/values" value="H4sIAAAAAAAEAEvtf62YYH7PY1nMU8cfa1OZGICAx3O349s3SWA2wzUHx0O/IWwHgRBH9ZMJYHb3/02OD74ng9nnmGc4JsxPA7MXT+1x7F3iLQDWy3Dgf+XOo4wglqUkh9Oil4lgNRbR1xy/74WY6dJy3HHrMoi41SMVR/8SiPjl5yUO6+ZDxNms3R1CzCDizF8lHaJnQuw9w/DG3msbhH1/br7D/iCIGybktjnM0oOo17PndBDaBTEnT7HbfvomiPqKeakOHdXZYLbdLlWHn8dTwOx6TR/Hd3kQ9l6uBIfn4hC9v/72Oc6qh4h/NGdy+nshHsyevKTZKf4ExMzbPrJODoshbFVWFqf21xC9Met/OQreg7DFL892jPeAsIVyVjpeZ4OoX6zG7qR9ESJ+fWmp02d1iLgBf5uTuCfEL/NW2DvFQsPkZCS/k3k/hH31zSTHP08h6j/d9HVMFICof5LQ6PjXDqLmce5cx4OpEHGbljzHFS0Q9dsb0h2feEPUMO/Xdqx8CGHvm6TvuO8fRI3apijHIhFoOBifcYz9AmHr/WpwvCMMUdPSXu1ouxQintLB7SjHAhFfYpPgeL0DIt7eoecYEA4Jw++R0Y4AsnuU3nwCAAA=" />
    <add key="/intelcpu/0/load/9/values" value="H4sIAAAAAAAEAEvtf62YYH7Po0L7sOOPtalMDEBwYEOn49s3SWD2HZbFjod+Q9hy2Xsd1U8mgNmHHpx2fPA9GczOc9vtmDA/Dcyu4trjeLrGW4ABDA78t354lBHEElpc5rjoZSJYzae0CofveyFmego5OGxdBhGfG2Lt4F8CEU9KKXBYNx8ivmp1p0OIGUR8R88L++iZEHtZj7E6eG2DsE1npjvsD4K4oSTzuf0sPYj6476iDkK7IObEa8+wn74Joj5m80aHjupsMNsn1cLh5/EUMLvrTabjuzwIO3/2dYfn4hC9J64vdZxVDxHXWcDr9PdCPJj9Jq/cKf4ExMyvHH2ODosh7BNSXI7tryF6FYqWOgjeg/rl2nyHeA8IOzU0xeE6G0S916oMR+2LEPH74kFOn9Uh4o4Ls53EPSF+kWQVcYqFhsli/wsO5v1Q9f+XO/x5ClE/35/bIVEAot5xQazDXzuIGrmg6w4HUyHiJir9DitaIOqT1q90eOINUcNhr+dQ+RDCfrbXxGHfP4iaZdsnOxSJQMSdUpUcY79A2An5Dx3uCEPU6IeqOtouhYifXzbNQY4FGs5Fpx2ud0DE8yr2OgSEQ8LQTeiUAwB+oP3XfAIAAA==" />
    <add key="/intelcpu/0/load/8/values" value="H4sIAAAAAAAEAEvtf62YYH7PY6nzFscfa1OZGIDggNVZx7dvksDskD0n7A/9hrDnhy23Vz+ZAGbXyk12ePA9GcyurzJ1SJifBmZrrXxrf7rGW4ABDA78t354lBHEyti03nHRy0SwGq63kQ7f90LMjPqv4bB1GUQ8+6utg38JRPz/qQyHdfMh4upr5jmEmEHEJ1xb4RA9E2Kv4w4hB69tEHbQ9gsO+4Mgbui+EuEwSw+ifq5yk4PQLog5qvNVHaZvgqiXDbZ37KjOBrPXLL3v8PN4Cpjd5DPT8V0ehF1j5eL4XByi1zXsiOOseoi4Uoai098L8WB2a0CjU/wJiJm+S+47OiyGsAukAhzbX0P0im0ydBS8B2EvYJNyjPeAsNO0LjpcZ4OoP7y4y1H7IkTczynT6bM6RPzL1EIncU+IX26VyzjFQsOk99hcR/N+CHtSyiWHP08h6ptUwhwSBaBhm5/o8NcOouZMP5fjwVSIeMyeLw4rWiDqC/9zOD7xhqgxe9DgUPkQwj6g3uew7x9ETeKdDQ5FIhBxowdNjrFfIGw+WV7HO8IQNQs9vBxtl0LE71lOcJRjgYgLZK9yvN4BVc+/2DEgHBKG7w9McQQAiNOZZXwCAAA=" />
    <add key="/intelcpu/0/load/7/values" value="H4sIAAAAAAAEAEvtf62YYH7PI1rho8OPtalMDEAwddkW+7dvksDstRO0HA79hrCvTT1qr34yAcye9+W2w4PvyWA2B4+7Q8L8NDD7f5Gfw+kabwEGMDjw3/rhUUYQ60f0IcdFLxPBak7fbHf4vhdiZtIrR4etyyDi7OGzHfxLIOK/Fnc4rJsPEf/b99AhxAwifqJ6tkP0TIi9X3frOXhtg7C5Fwo77g+CuIGjcZPDLD2I+gzmbAehXRBz4tyrHKZvgqgXLIl27KjOBrN/8ts6/jyeAmbf1Vzl+C4Pwj63ONXxuThEb5LMXcdZ9RDxPF1Lp78X4sHs1ElNTvEnIGY+KOd2clgMYettXe3Y/hqiN/TiJEfBexB2WWqwY7wHhF1tGeN4nQ2iftXfdY7aFyHiv+4WOn1Wh4gLcdQ6iXtC/BK9TtMpFhomB71uOJr3Q9gGTz0c/zyFqH+/8I5DogBEfVnjO4e/dhA1Kuv6HQ+mQsQVX892XNECUd8putXxiTdEjdmNzY6VDyHsnMAtjvv+QdQE9Jx2LBKBiN9+yO4U+wXC1vh31PGOMESN5poljrZLIeIZvybYy7FAxJ/677S/3gER1+c5Yh8QDgnD4AxlewA59NwBfAIAAA==" />
    <add key="/intelcpu/0/load/6/values" value="H4sIAAAAAAAEAEvtf62YYH7PI7FLxPHH2lQmBiDYkMbn8PZNEpjdbX3D4dBvCHsaK4+j+skEMHuOVKPjg+/JYHbxwQDHhPlpYHbzBnvH0zXeAgxgcOC/9cOjjCDWtynPHBe9TASrEVw+1fH7XoiZubETHLcug4h/04909C+BiN847+u4bj5EPEFwm2OIGUS8InKSY/RMiL1rWBIdvbZB2Ht+P3XcHwRxwwK1TsdZehD1ajP6HIV2QcxRmt3sOH0TRH3oYS6njupsMFuv9Yvjz+MpYLbGEhGnd3kQ9n0rBqfn4hC9DbdVnWbVQ8RTVXyc/l6IB7Mdqtqc4k9AzJRtNnJyWAxhR7oqOLW/huhVMTNyErwHYT/QN3aK94Cwt/0UdrrOBlF/6Y2Ok/ZFiLj0gTynz+pQf02ocRL3hPjF1sDEKRYaJofqlZ3M+yFsgXNnHf88haifdXirY6IARL1d8zHHv3YQNR/rGJwOpkLElwdJO65ogag/KJZo/8QbosYwXtu+8iHUnU+u2O/7B1Fj6/jKvkgEaleXukPsFwg7L3aWwx1hiJqa05UOtksh4j/EDtvLsUDEJ8fcsL/eARH36L9jHxAOCcMAQWV7AHTqwYN8AgAA" />
    <add key="/intelcpu/0/load/5/values" value="H4sIAAAAAAAEAEvtf62YYH7PY86DVocfa1OZGIDgxpP79m/fJIHZCjumOB76DWF/ujTZUf1kApjNFfDI8cH3ZDA72uOkY8L8NDCbe952x9M13gIMYHDgv/XDo4xgM3v0HBe9TASryVgm5fB9L8TMf+JmDluXQcQ3/Xtk718CET+7Nd5h3XyIuOm3y/YhZhDxhG/X7KNnQuxVWP/M3msbhH3zl6TD/iCIGz6dPWY/Sw+iflmygIPQLog5YY8a7KdvgqiXmPnXvqM6G8J++dz+5/EUMPvFpLcO7/IgbONbc+yfi0P0avwSd5xVDxG38Z3j+PdCPJhtNSnWKf4ExMwVaxmcHBZD2J9iHjm2v4bofd17xlHwHoTNvP2NY7wHhK3XfdzxOhtEvVArs5P2RYj4HBFrp8/qEPFJPt8dxT0hftGr++8QCw2TqI5Oe/N+CPtea5f9n6cQ9b+yV9knCkDUiwtOs/9rB1GzS+GP/cFUiPiE20vsV7RA1K+Uf2v/xBui5tHyCfaVDyFsr+3X7ff9g6hZvjHYvkgEIr7kL5ND7BcIm+NKqcMdYYgajZ8SDrZLIeJnPx6wl2OBiE9J53C43gH1rwiPQ0A4JAwtFl63BwDu1GhzfAIAAA==" />
    <add key="/intelcpu/0/load/4/values" value="H4sIAAAAAAAEAEvtf62YYH7Pg1OCwenH2lQmBiCYJLTW8e2bJDB7Zx6bw6HfELbfRS4H9ZMJYLaE+ymHB9+TwewSAzuHhPlpYPY646/2p2u8BRjA4MB/64dHGUGsqAI1p0UvE8FqAuaecvy+F2KmPdcex63LIOJ7elY6+pdAxFdOWO+4bj5E3LZ7i2OIGUS8ZvYix+iZEHuN7i539NoGYecULXbcHwRxw9KM6Y6z9CDqE0RXOwrtgpjzrGWS4/RNEPV6nrscO6qzIewV2x1/Hk8Bs7uKhJ3e5UHYDV+OOT4Xh+itmi3gNKseIq6x0dLp74V4MLvuSLRT/AmImZsmTXNwWAxhhz9gdGh/DdHrVPPBXvAehO1QLOIQ7wFh///H43CdDaK+bquGo/ZFiLjc95+On9Uh4qe2OjmJe0L8snDNPcdYaJgsld7iaN4PYZt9P+j45yk0TIIXOyYKQNQ/NJ3n+NcOouaI/FLHg6kQ8YbjMxxXtEDUP1y/yfGJN0RN+c+JjpUPIWzGhh7Hff8gar5WrHcsEoGIM21Y7hj7BcKW37nZ8Y4wRI1O9mZH26UQcYbqVY5yLBDxdS4bHK93QMTvmC5xDAiHhGHOnV2OAEpFEc98AgAA" />
    <add key="/intelcpu/0/load/3/values" value="H4sIAAAAAAAEAEvtf62YYH7PY8nNXQ4/1qYyMQDBk/I79m/fJIHZzCcO2R/6DWGLqR6xVz+ZAGb/PLXF4cH3ZDD7XJC3Q8L8NDA7c9Ym+9M13gIMYHDgv/XDo4wgFsfDWsdFLxPBarYwyDp83wsxs/imlcPWZRDxd3mljv4lEPHdn886rpsPEXeYc80xxAwi3mm/3TF6JsTeSz8uOHptg7DDzhxx3B8EccMMnUOOs/Qg6jX4tjgK7YKY81V/uv30TRD1vM6P7Tuqs8HsjMk/7X8eTwGzu+/zO77Lg7Djrl63fy4O0fvHTcBxVj1E/Mu6mY5/L8SD2U3XVJ3iT0DMvL1wtoPDYgh7gfY/+/bXEL1l/TftBe9B2FLTPtnHe0DYpa9v2V9ng6jX2SbmqH0RIn7F4ZHjZ3WIuKcCi5O4J8QvVz1ZHWOhYaLCNcfevB/C3nDgkP2fpxD1M5S+2icKQNRfKWq2/2sHURO4jN/hYCpE3KM313FFC0T98eALjk+8IWpimFc4Vj6EsJmjVzju+wdR83/6CsciEYh46Kz9jrFfIGwJlguOd4Qhag7K7HS0XQq1q++avRwLRHzCAWGH6x0Q8aq3d+0DwiFhOKdnrz0AvMZ6Y3wCAAA=" />
    <add key="/intelcpu/0/load/2/values" value="H4sIAAAAAAAEAEvtf62YYH7P4/zqKKcfa1OZGIDgQ/Jex7dvksBs+x3LHQ/9hrCPH93kqH4yAcy+m/Db8cH3ZDD7W8sHx4T5aWD2TL9zjkfyvAUYwODAf6f3RxlBrP2ZsU6LXiaC1ehPveH4fS/ETLN7Fx23LoOIe52wdvQvgYgXzU9wWDcfIq5cedw+xAwivuntPPvomRB7b3rtt/faBmHPfs3usD8I4garx0ftZ+lB1OdNiHAQ2gUxR0llp+P0TRD1MjanHDuqs8HspvSrjj+Pp4DZBvn8Tu/yIGzVGQ8cn4tD9L6zEXOaVQ8RT/Cwcvp7IR7MTlXrcoo/ATHTdBqbk8NiCLvr4C/H9tcQvaxMLx0F70HYHqlvHeM9IOz9p486XmeDqGdzYHfSvggRT1lg5/RZHSL+rMzFSdwT4pd5Xh8dY6Fh8l3goKN5P4Qt1XHF8c9TiPqp+tsdEwWgYfv+kONfO4iaoKm7HQ+mQsTrD/E5rmiBqF8jtMn+iTdEDUv4dPvKhxB2RdRS+33/IGqEdOfbF4lAxDMWz7aP/QJh2/vmOdwRhqiZMK/DwXYpRLwyfb2jHAtE3MP2pOP1Doh4h/QJx4BwSBiWTb7qCAA3kTrxfAIAAA==" />
    <add key="/intelcpu/0/load/1/values" value="H4sIAAAAAAAEAEvtf62YYH7PQ7Aw3unH2lQmBiDg2vjS8e2bJDD7xavljod+Q9g2Tfsc1U8mgNl3E347PvieDGZ/a/ngmDA/Dczu5Lzo+LzDS4ABDA78l796jBHEYr6Q4rToZSJYTVfjI8fveyFmdr244bh1GUT864QDjv4lEHH54xcc182HiG84y+AUYgYR37vuimP0TIi9xScvO3ptg7C1P3A57Q+CuOGK3SvHWXoQ9ffqrzgK7YKY477vnuP0TRD1aVXKTh3V2WC28Eljp5/HU8BswWQHp3d5EHbaBgmn5+IQve9WWjnNqoeIn7kd7vT3QjyYHVA8wSn+BMRMSUdXJ4fFEPZuNxen9tcQvR5hdk6C9yDsB/rGTvEeUPdM0ne6zgZRf8bF3En7IkQ850qn02d1iLiZSbuTuCfEL0I8Pk6x0DDJ41ZzMu+HsJ88f+L45ylE/cbOXY6JAhD1aarnHf/aQdQ8tmB0OpgKEbdS3+O4ogWi3nnzBccn3hA1Zjc2O1Y+hLDbjLc77vsHUROi+sSxSAQifvshu1PsFwh7xu1LjneEIWqebz7jaLsUIp6etcFRjgUi/qvlpuP1Doj4ZP8TjgHhkDAsm3zVEQBXZYe0fAIAAA==" />
    <add key="/intelcpu/0/load/0/values" value="H4sIAAAAAAAEAEvtf62YYH7PY8r9WY4/1qYyMQDBFSk7x7dvksBsEcc/Dod+Q9hWYlyO6icTwOwTHDmOD74nQ9ToOjkmzE+DqHHVcHze4SXAAAYH/stfPcYIYrVdeea46GUiWI1Mk5fj970QMx136DhuXQYRZxZUcfQvgYj7aak4rpsPEU+K8XIMMYOIf7qn4Rg9E2Iv72IBR69tELZCXIzj/iCIG1591nacpQdRLxqu6Si0C2KO+xVex+mbIOr3p1Y6dlRng9mSytmOP4+ngNmzonc6vsuDsO+aNzs+F4foPSZ/w3FWPUTcyUjW6e+FeDD7/uRSp/gTEDNX+p92dFgMYW8QnOfY/hqiN1ByoqPgPQhbr6PZMd4Dwn67rdjxOhtEvc23fY7aFyHia8J8nD6rQ8TnbgtyEveE+OXync+OsdAwKY9rcDTvh7DPyOo6/nkKUX9lBotjogBEvdIMHse/dhA1yzIdHA+mQsRrpvM5rmiBqP9YKOL4xBui5oTdU4fKhxD2Dv7XDvv+QdTsKeFwLBKBiIvYuzvGfoGwK5IMHe8IQ9QUcBk72i6FiH+tfOkgxwIRn8XH53i9AyKe8PO/Q0A4JAxPFrA4AgCXlemwfAIAAA==" />
    <add key="/ram/load/1/values" value="H4sIAAAAAAAEAC2RS0iUURiGvWRoYAqKIQ1exgQN3AkjikO+BF0QEVv951Qz8///8QYamMOIQS4sQaEWXVxkIRKBU7RwIwgKOiOCl7ALDkOooEJNqyEZEEQZ5bxzVg8v3/t853Bqn404va7d2ztlAkfldkba+TmuFFj/4NX8/6WBoX7mKz8MXImZmktMCfeEpblzSuLWz3bN9c8lWoc289L0WUyGHU06/zQvMWjT6f8n4WqhZ/rSfWRX0/9xTWIgx6f5YqvE6y36r5dLfJ5kV6RLhN8ozcvZEodOet7XC5zco2ezSKDAxTwYMpB7Sg/GDMS/sVs8bKDisEvzjScGHjvYrY0IvA2yezchkAyzWyclLuQzD/1+gF+XyX0lFmYWeOf8bRNTjzg/98LE7CjZ7zHhGPRozon7sJ/BXZG/PjQVsiuvWni6Tue1Xhvfu9n1BBU6qjiTVdaOkQ3OBA4UXsWZ44tC4xq5Vyh4x8h71QrjMe5Kb1SoS82bBQpbUfJwm0JmhM4/NxWSD5mPNyh8XSWH3Ao1qf8a7T7fu0vuCSgID3k5ZCPanPKYNkrnuNedsOB8x7/biFpI3OG7YksWzgDZUKZlfAIAAA==" />
    <add key="/ram/data/3/values" value="H4sIAAAAAAAEAC2RXSikURzGNbShfDVK6S1rfK3WciOjttl6bLJKu3PmI6V53zM+t1FyQZumbV3sJlYii7KT1sZeUERtIpRtrnxFK5pSs5uruRORiIbO41z9evo/v/85ndIvPRavNfxmqkTiKrvJFPNwPIUS2xNexb9PJLo7mS8MSWREGhS3/NLxKtCoeK1WR9XfFsUOvw57915KjDob0aAGlb8r0+FvolNEPbC+pWfkyIP4Qvpz83R0JdQrDqzq+HZIv3apY/YHu/mageBIs+Iks4FzCz2JqRK3TnquX0qYrcxtUxJJd/R0RiROd9m1nUnknPsU/7uR6NDYzRQGRmfYLS4yEA2yG57TEZfKPHmiDgfJ5PICFxbXeef5Lhd+tnN+P+TCUh95LM0NzS8VDwTcODFxV8O0G0hn1/TchU/bdL7ud2C/ld22eIH3zzhz8MGOnh3OWP7YMXzKXHsiYNsi1/gEvF/J/6cFxiLc5RsQKH+c/7ghcBgix3UIxB7RufJZIGowzx8UmNskV/QLvHj8rz63wHCYvFwpUCfJrTkOhGrIKeMOZK1w7/FTJyzf+Xe9FU5cVPNdk4YT9xOo3c18AgAA" />
    <add key="plotPanel.MinVoltage" value="0" />
    <add key="plotPanel.MaxVoltage" value="100" />
    <add key="plotPanel.MinCurrent" value="0" />
    <add key="plotPanel.MaxCurrent" value="100" />
    <add key="plotPanel.MinPower" value="0" />
    <add key="plotPanel.MaxPower" value="100" />
    <add key="plotPanel.MinClock" value="0" />
    <add key="plotPanel.MaxClock" value="100" />
    <add key="plotPanel.MinTemperature" value="0" />
    <add key="plotPanel.MaxTemperature" value="100" />
    <add key="plotPanel.MinLoad" value="0" />
    <add key="plotPanel.MaxLoad" value="100" />
    <add key="plotPanel.MinFrequency" value="0" />
    <add key="plotPanel.MaxFrequency" value="100" />
    <add key="plotPanel.MinFan" value="0" />
    <add key="plotPanel.MaxFan" value="100" />
    <add key="plotPanel.MinFlow" value="0" />
    <add key="plotPanel.MaxFlow" value="100" />
    <add key="plotPanel.MinControl" value="0" />
    <add key="plotPanel.MaxControl" value="100" />
    <add key="plotPanel.MinLevel" value="0" />
    <add key="plotPanel.MaxLevel" value="100" />
    <add key="plotPanel.MinFactor" value="0" />
    <add key="plotPanel.MaxFactor" value="100" />
    <add key="plotPanel.MinData" value="0" />
    <add key="plotPanel.MaxData" value="100" />
    <add key="plotPanel.MinSmallData" value="0" />
    <add key="plotPanel.MaxSmallData" value="100" />
    <add key="plotPanel.MinThroughput" value="0" />
    <add key="plotPanel.MaxThroughput" value="100" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinEnergy" value="0" />
    <add key="plotPanel.MaxEnergy" value="100" />
    <add key="plotPanel.MinNoise" value="0" />
    <add key="plotPanel.MaxNoise" value="100" />
    <add key="plotPanel.MinConductivity" value="0" />
    <add key="plotPanel.MaxConductivity" value="100" />
    <add key="plotPanel.MinHumidity" value="0" />
    <add key="plotPanel.MaxHumidity" value="100" />
    <add key="treeView.Columns.Sensor.Width" value="1720" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerIp" value="?" />
    <add key="listenerPort" value="8085" />
    <add key="authenticationEnabled" value="false" />
    <add key="authenticationUserName" value="" />
    <add key="authenticationPassword" value="cd372fb85148700fa88095e3492d3f9f5beb43e555e5ff26d95f5a6adc36f8e6" />
    <add key="/intelcpu/0/voltage/9/values" value="" />
    <add key="/intelcpu/0/voltage/10/values" value="" />
  </appSettings>
</configuration>